.signup-container {
  display: flex;
  flex-direction: column;
}

.signup-header {
  display: flex;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 50px;
}

.signup-title {
  flex-grow: 1;
  text-align: center;
  padding-right: 10px;
  font-size: var(--font-size-xxl);
}

.signup-body {
  width: 100%;
}

.error-message {
  color: var(--color-error);
  text-align: center;
  margin: 10px 0;
}
