.item-box {
  flex-shrink: 0;
  background-color: var(--color-tertiary);
  border-radius: 4px;
}

.text {
  @extend .item-box;
  padding: 5px 20px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-1);
}

.image {
  @extend .item-box;
  width: 100px;
  height: 100px;
  padding: 4px;
}