.textField {
  position: relative;
  width: 100%;
}

.textArea {
  position: absolute;
  top: 30px;
  left: 22%;
  width: 60%;
  margin-top: 24%;
  border: none;
  background: transparent;
  color: var(--color-gray-1);
  font-size: var(--font-size-md);
  resize: none;
}

.textArea::-webkit-scrollbar {
  display: none;
}

.postit-theme-bg {
  width: 100%;
  object-fit: cover;
}
