/* MainButton.module.css */
.main-button {
  width: 350px;
  height: 52px;
  background-color: --color-primary;
  color: --color-white;
  font-size: --font-size-lg;
  border: none;
  border-radius: 52px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
