/* MainButton.module.css */
.main-button {
  width: 100%;
  padding: 14px 80px 14px 80px;
  text-align: center;
  border-radius: 52px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-lg);
}
