/* MainButton.module.css */
.main-button {
  position: fixed;
  z-index: 1000;
  bottom: 24px;
  max-width: calc(var(--size-max-width) - 2 * var(--size-gap));
  width: calc(100% - 2 * var(--size-gap));
  padding: 12px 0;
  text-align: center;
  border-radius: 52px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-lg);

  &:disabled {
    background-color: var(--color-disabled);
  }
}
