/* MainButton.module.css */
.main-button {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  border-radius: 52px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-lg);

  &:disabled {
    background-color: var(--color-disabled);
  }
}
